:root {
	--header-bg: #fff;
	--border: 1px solid #0005;

	--text-primary: #000;
	--text-secondary: #333;
	--text-tertiary: #555;

	--font-sm: 0.825rem;
	--font-md: 1rem;
	--font-lg: 2rem;
	--font-xl: 3rem;

	--font-serif: "Times New Roman", Times, serif;
	--font-sans: Arial, Helvetica, sans-serif;
}

:where(*, *::after, *::before) {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: var(--font-sans);
	font-size: var(--font-md);
	color: var(--text-primary);
}

h1 {
	font-size: var(--font-xl);
}

header {
	background: var(--header-bg);
}

hgroup {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-bottom: var(--border);
	transform: translateY(0);

	& > p {
		padding: 0.5rem 0;
	}
}

nav {
	display: flex;
	align-items: center;
	padding: 0.5rem;
	border-bottom: var(--border);

	& > h2 {
		font-family: var(--font-serif);
		font-size: var(--font-lg);
		display: none;
	}

	& > ul {
		flex: 1;
		list-style-type: none;
		display: flex;
		justify-content: center;

		& > li:not(:last-child) {
			border-right: var(--border);
			margin-right: 1rem;
			padding-right: 1rem;
		}

		& > li > a {
			text-decoration: none;
		}
	}
}

.small {
	font-size: var(--font-sm);
	color: var(--text-secondary);
}

.serif {
	font-family: var(--font-serif);
}
